*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region Utlity */

.container{
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: brown;
}


.col_8, .col_4, .col_15{
    height: 250px;
}


.col_8{
    width: calc(100% / 12 * 8);
    background-color: aqua;
    display: flex;
}

.col_4{
    width: calc(100% / 12 * 4);
    background-color: blueviolet;
    display: flex;
}

.col_15{
    width: calc(100% / 12 * 2);
    background-color: peru;
    border: 2px solid red;
}

.card{
    height: 80%;
    width: 80%;
    margin: auto;
    background-color: rgb(161, 150, 157);
}

/* #endregion Utlity */

/* #region Header */
header{
    background-color: rgb(61, 61, 173);
}




.row_header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 1rem 0 1rem 0;
    background-color: brown;
}

.head_1, .head_2, .head_3{
    height: 60px;
    border: 1px solid red;
    background-color: black;
}

.head_1, .head_3{
    width: 25%;
}

.head_2{
    width: 50%;    
}

/* #endregion Header */

/* #region First Section */

.section_one{
    background-color: rgb(61, 61, 173);
}

.main_one{
    display: flex;
    justify-content: center;
    height: 450px;
    padding: 3rem 0 6rem 0;
}

.big_article{
    width: 60%;
    height: 100%;
    background-color: grey;
}

/* #endregion First Section */



/* #region Second Section */

.section_two{
    background-color: palevioletred;
}

.main_two{
    padding: 1rem;

}

.row_main_two{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: brown;
}





/* #endregion Second Section */


/* #region Third Section */


.section_three{
    background-color: purple;
}

.main_three{
    padding: 1rem;

}

.row_main_three{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: brown;
}



/* #endregion Third Section */


/* #region Fourth Section */


.section_four{
    background-color: palevioletred;
}

.main_four{
    padding: 1rem;
}



/* #endregion Fourth Section */


/* #region Big Section */

.big_section{
    padding: 1rem 0 3rem 0;
    background-color: purple;
}

.big_container{
    height: 300px;
    background-color: grey;
}

/* #endregion Big Section */


/* #region Footer */

.row_foot{
    display: flex;
}

footer{
    background-color: rgb(61, 61, 173);
    padding: 1rem 0 3rem 0;
}

.row_end{
    display: flex;
    justify-content: space-between;
    background-color: dimgrey;
    margin-top: 1rem;
}    

.end_one, .end_two{
    height: 50px;
    width:calc(100% / 12);
    background-color: black;
    margin: 1rem 0 1rem 0;
}

/* #endregion Footer */

